<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hot update Service</title>
</head>
<body>
  <div id="app"></div>
</body>
<script src="/static/dist/update.bundle.js"></script>
<script src="/static/js/zip.js"></script>
<script src="/static/js/mime-types.js"></script>
<script type="text/javascript" src="/static/js/zip-ext.js"></script>
<script type="text/javascript" src="/static/js/deflate.js"></script>
<script type="text/javascript" src="/static/js/inflate.js"></script>
<script type="text/javascript" src="/static/js/z-worker.js"></script>
<script type="text/javascript" src="/static/js/zip-fs.js"></script>
<script type="text/javascript" src="/static/js/plist.js"></script>

</html>
